.banner-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#frontLogo{
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

#banner-text{
  color: black;
  font-family: "Papyrus", fantasy;
}

.top-banner, .bottom-banner{
  background-color: #0852A5;
  padding: 10px;
  position: fixed;
  height: 20px;
  width: 100%;
}

.top-banner{
  top: 0;
}

.bottom-banner{
  bottom: 0;
}

.top-container{
  position: relative;
  left: 250px;
  outline: none;
}

.form-input{
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid gray;
  width:400px;
}

.form-input::placeholder{
  opacity: 0.7;
  color: gray;
}

.no-outline:focus{
  outline: none;
}

.route-container{
  position: relative;
  margin: 50px auto;
  width: 200px;
}

.route-label, .route-type-item{
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.dropdown-content{
  display: none;
  position: absolute;
  top:100%;
  left: 0;
  width: 100%;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
}

.route-type-item:hover{
  background-color: #f1f1f1;
}

.dropdown-content.show{
  display: block;
}
