.banner-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#frontLogo{
  width: 100px;
  height: 100px;
}

#banner-text{
  color: black;
}