.banner-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#frontLogo{
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

#banner-text{
  color: black;
  font-family: "Papyrus", fantasy;
}

.top-banner, .bottom-banner{
  background-color: #0852A5;
  padding: 10px;
  position: fixed;
  height: 20px;
  width: 100%;
}

.top-banner{
  top: 0;
}

.bottom-banner{
  bottom: 0;
}

.top-container{
  position: relative;
  left: 250px;
  outline: none;
}

.form-input{
  padding: 0px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid gray;
  width:400px;
}

.form-input::placeholder{
  opacity: 0.7;
  color: gray;
  text-align-last: left;
  vertical-align: top;
  margin-top: -2px;
}

.no-outline:focus{
  outline: none;
}

.route-container{
  position: absolute;
  margin: 50px auto;
  width: 200px;
  left: 270px;
  top: 210px;
}

.dropdown-menu{
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  border-radius: 0;
  background-color: #fff;
  width: 100%;
  border-bottom: 2px solid gray;
  font-size: 16px;
  text-align-last: left;
  vertical-align: top;
  margin-top: -8px;
}

.dropdown-menu option{
  background-color: white;
  color: black;
}

.dropdown-menu:active{
  margin-right: 5px;
}


.dropdown-menu:focus{
  outline: none;
}

.dropdown-label{
  font-size: 13px;
  vertical-align: top;
  opacity: 0.7;
  color: gray;
}
